.header {
  background-image: url('https://s1.cdn.autoevolution.com/images/news/lamborghini-aventador-replacement-imagined-by-young-designer-looks-spot-on-140924-7.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: inherit;
}

.h1-header {
  color: #fff;
  display: flex;
  font-size: 3em;
}
