.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container {
  width: 300px;
  margin-left: 360px;
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
}
.login_container > h4 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.login_container > form > h5 {
  margin-bottom: 5px;
}
.login_container > form > input {
  margin-bottom: 15px;
  height: 30px;
  background-color: white;
  width: 98%;
}

.login_logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login_signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 30px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
